@import '../Materialize/sass/materialize';
$cor: #EE6E73;
*{
	box-sizing: border-box;
}
.container{
	max-width:600px;
}

body{
	
}

main{
	margin-top:35px;
}
#bio{
	.description{
		img{
			float:left;
			max-width: 160px;
		}
		font-family: 'Roboto';
		font-size: 17px;
		font-weight: 16px;
	}
}

.info{
	margin:20px 0;
	font-size:18px;
	text-transform:uppercase;
		text-align: center;
	font-weight: 800;
	.title{
		color: $cor;
	}
	.value{
	
	}
}

.titulo-section{
	font-size:22px;
	text-align: center;
}


.tipo{
	h2{
		@extend .titulo-section;
	}
}

.fraquezas{
	h2{
		@extend .titulo-section;
	}
}

.box-tags{
	max-width:100%;
	display:flex;
	flex-flow:row wrap;
}
.tag{
	background: $cor;
	color:#fff;
	flex-grow: 1;
	margin-left:10px;
	padding:5px;
	border-radius:5px;
	margin-top:5px;
	text-align:center;
	display:inline-block;
}




.box-evo{
	max-width:100%;
	display:flex;
	flex-flow:row nowrap;
	overflow-x:auto;
}
.evo{
	padding-left:20px;
	flex-grow:1;
	text-align:center;
	img{
		max-width: 150px;
	}
}

.divider{
	height:1px;
	background:#eee;
	width:100%;

}

.evolutions{
	background: $cor;
	color:#fff;
	margin-left:-15px;
	margin-right:-15px;
	padding:10px 15px;
	margin-top:25px;
	margin-bottom:20px;
	h2{
		margin:0;
		@extend .titulo-section;
		text-align:left;
	}
}


#loading-bar-spinner .spinner-icon {
  width: 84px;
  height: 84px;
  border:  solid 2px transparent;
  border-top-color:  #EE6E73;
  border-left-color: #EE6E73;
  border-radius: 50%;
  top:50%;
  width: 50%;

}


#loading-bar .bar {
	  background: #000;
	  height: 5px;
}

#loading-bar-spinner{    
	display: block;
    position: fixed;
    z-index: 10002;
    top: 60px;
    left: 0;
    background: rgba(255,255,255,0.9);
    height: 100vh;
    width: 100%;}

#loading-bar-spinner img{
	position: absolute;
    top: 12%;
    left: 40%;
    width: 300px;
}